<!-- 存放公用的modal  -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">

<div class="modal" tabindex="-1" role="dialog" id="payModal" th:fragment="payModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-theme">套餐购买</h4>
                <a class="btn close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </a>
            </div>
            <div class="modal-body">
                <form id="payForm">
                    <input type="hidden" name="priceId"/>
                </form>
                <table class="table">
                    <tr>
                        <td>购买套餐：</td>
                        <td name="packageName">白银会员</td>
                        <td>当前套餐到期时间：</td>
                        <td>2019年7月20日</td>
                    </tr>
                    <tr>
                        <td>购买时长：</td>
                        <td name="period">372天</td>
                        <td>预计套餐到期时间：</td>
                        <td>2020年7月31日</td>
                    </tr>
                    <tr>
                        <td>所需费用：</td>
                        <td colspan="3">￥<span name="packageFee">49</span></td>
                    </tr>
                    <tr>
                        <td>扣减费用：</td>
                        <td>￥<span name="discount">49</span></td>
                        <td colspan="2">扣减说明：原套餐升级</td>
                    </tr>
                    <tr>
                        <td>支付金额：</td>
                        <td colspan="3">￥<span name="payFee">0</span> (支付前请阅读开通须知）</td>
                    </tr>
                    <tr>
                        <td>支付方式：</td>
                        <td colspan="3" class="pay-icon">
                            <button class="btn alipay-icon"></button>
                            <button class="btn wechat-cion"></button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <div class="float-right">
                    <button class="btn btn-green-outline" data-dismiss="modal">取消</button>
                    <button class="btn btn-green" onclick="$.bussiness.createOrder()">立即支付</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal" tabindex="-1" role="dialog" id="loginModal" th:fragment="loginModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="btn close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </a>
            </div>
            <div class="modal-body">
                <h3 class="d-flex align-items-center">
                    <img th:src="@{/images/logo.png}"/>
                    <span>用户登录</span>
                </h3>
                <div class="">
                    <form onsubmit="return false;" id="loginForm">
                        <input name="forwardUrl" type="hidden" th:value="${session.forwardUrl}">
                        <div class="form-group phone">
                            <input class="form-control" placeholder="请输入手机号码" name="phone" value="11111111111"/>
                        </div>
                        <div class="form-group login-code-box d-flex">
                            <input class="form-control" placeholder="请输入验证码" name="smsCode" value="1234"/>
                            <button class="btn btn-green get_code">获取验证码</button>
                        </div>
                        <div class="form-group d-flex justify-content-between">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox"
                                       id="customCheckbox1" checked name="remember-me" value="true"/>
                                <label for="customCheckbox1" class="custom-control-label">自动登录</label>
                            </div>
                        </div>

                        <button class="btn btn-block btn-green" onclick="doLogin()">登 录 </button>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


</html>
