<!-- 存放底部footer -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<div class="privilege-table" th:fragment="privilege">
    <table class="table">
        <tr>
            <th>模块</th>
            <th>功能</th>
            <th>白银会员</th>
            <th>黄金会员<span style="color: #F6F300">（敬请期待）</span></th>
            <th>钻石会员<span style="color: #F6F300">（敬请期待）</span></th>
        </tr>
        <tr>
            <td>首页</td>
            <td>昨日概况</td>
            <td>仅可监控1个作家，可修改1次/月</td>
            <td>仅可监控1个作家，可修改1次/月</td>
            <td>仅可监控1个作家，可修改1次/月</td>
        </tr>
        <tr>
            <td rowspan="10">市场分析</td>
            <td>行业分析-行业大盘</td>
            <td>支持所有类型小说查看</td>
            <td>支持所有类型小说查看</td>
            <td>支持所有类型小说查看</td>
        </tr>
        <tr>
            <td>行业分析-行业趋势</td>
            <td>支持最多60天数据查看</td>
            <td>支持最多90天数据查看</td>
            <td>支持最多180天数据查看</td>
        </tr>
        <tr>
            <td>行业分析-飙升分类</td>
            <td>支持最多60天数据查看</td>
            <td>支持最多90天数据查看</td>
            <td>支持最多180天数据查看</td>
        </tr>
        <tr>
            <td>竞争分析</td>
            <td>支持最多60天数据查看</td>
            <td>支持最多90天数据查看</td>
            <td>支持最多180天数据查看</td>
        </tr>
        <tr>
            <td>流派分析-流派趋势</td>
            <td>支持最多60天数据查看</td>
            <td>支持最多90天数据查看</td>
            <td>支持最多180天数据查看</td>
        </tr>
        <tr>
            <td>流派分析-飙升流派</td>
            <td>支持最多60天数据查看</td>
            <td>支持最多90天数据查看</td>
            <td>支持最多180天数据查看</td>
        </tr>
        <tr>
            <td>角色分析-特点趋势</td>
            <td>支持最多60天数据查看</td>
            <td>支持最多90天数据查看</td>
            <td>支持最多180天数据查看</td>
        </tr>
        <tr>
            <td>角色分析-飙升特点</td>
            <td>支持最多60天数据查看</td>
            <td>支持最多90天数据查看</td>
            <td>支持最多180天数据查看</td>
        </tr>
        <tr>
            <td>读者分析-书龄分布</td>
            <td>支持最多60天数据查看</td>
            <td>支持最多90天数据查看</td>
            <td>支持最多180天数据查看</td>
        </tr>
        <tr>
            <td>读者分析-阅读数分布</td>
            <td>支持最多60天数据查看</td>
            <td>支持最多90天数据查看</td>
            <td>支持最多180天数据查看</td>
        </tr>
        <tr>
            <td>作品分析</td>
            <td>
                <div class="privilege-expect-text">敬请期待~</div>
                您将获得全面分析自己作品的能力
            </td>
            <td>不支持</td>
            <td class="text-theme">支持</td>
            <td class="text-theme">支持</td>
        </tr>
        <tr>
            <td>小说榜单</td>
            <td>
                <div class="privilege-expect-text">敬请期待~</div>
                您将获得跟踪挖掘竞品小说的能力
            </td>
            <td>不支持</td>
            <td>不支持</td>
            <td class="privilege-support-text">支持</td>
        </tr>

    </table>
</div>


</html>
