<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head th:insert="include/head::head" th:with="title='个人中心'"></head>

<body class="layout-top-nav text-sm" id="page-4">
<div class="wrapper">
    <!-- navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light"
         style="background: #fff;color: #000;position: fixed;left: 0;top: 0;right:0">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item d-none d-sm-inline-block">
                <a th:href="@{/page/portal}" class="nav-link">产品介绍</a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a th:href="@{/page/package}" class="nav-link">产品套餐</a>
            </li>
        </ul>

        <!-- Right navbar links -->
        <ul class="nav nav-pills ml-auto">
            <li class="nav-item">
                <a class="nav-link btn btn-green-outline" href="#">开始分析</a>
            </li>
            <li style="width: 1rem"></li>
            <li class="nav-item">
                <a class="nav-link btn btn-green" href="#">体验Demo</a>
            </li>
        </ul>
    </nav>


    <div class="content-wrapper">
        <!-- Main content -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-2" id="col-1">
                        <div class="card card-primary">
                            <div class="card-body">
                                <div class="user-left-top">
                                    <img th:src="@{/images/u3246.png}" >
                                    <div class="text-theme">个人中心</div>
                                </div>
                                <ul>
                                    <li class="active">账号设置</li>
                                    <li>会员信息</li>
                                    <li>订购记录</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-10">
                        <div class="card card-primary">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6" id="col2-left">
                                        <h4>账号设置</h4>
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                                <label>昵称</label>
                                                <input class="form-control" value="156***2649">
                                            </div>
                                            <div class="form-group">
                                                <label>邮箱</label>
                                                <input type="email" class="form-control" value="antdesign@alipay.com">
                                            </div>
                                            <div class="form-group ">
                                                <label>手机号码</label>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <input class="form-control" value="156***2649">
                                                    </div>
                                                    <div class="col-md-6 btn btn-green-outline">更换手机号码</div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>绑定作家（Tip：30天内仅可更改1次）</label>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <input class="form-control" value="老鹰吃小鸡">
                                                    </div>
                                                    <div class="col-md-6 btn btn-green-outline">更换绑定作家</div>
                                                </div>
                                            </div>
                                        </form>

                                        <h6>监控作品</h6>
                                        <ul id="xs-list" class="clearfix">
                                            <li>
                                                <img th:src="@{/images/u3286.png}" />
                                                <div class="xs-name">万族之劫</div>
                                            </li>
                                            <li>
                                                <img th:src="@{/images/u3288.png}" />
                                                <div class="xs-name">重生之财源滚滚</div>
                                            </li>
                                            <li>
                                                <img th:src="@{/images/u3290.png}" />
                                                <div class="xs-name">全球高武</div>
                                            </li>
                                        </ul>

                                        <button class="btn btn-green">保存</button>
                                    </div>

                                    <div class="col-md-6" id="col2-right">
                                        <img th:src="@{/images/u3255.png}" >
                                        <button class="btn btn-default" onclick="avatarUpload.click()">
                                            <input type="file" style="display: none" id="avatarUpload"/>
                                            <i class="fa fa-upload" aria-hidden="true"></i> 点击更换头像
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
</div>


<!-- REQUIRED SCRIPTS -->
<script>

</script>
</body>
</html>
