<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head th:insert="include/head::head" th:with="title='订购记录'"></head>
<head th:include="include/head::bootstrap-table"></head>

<body class="layout-top-nav user-center" id="page-6">
<div class="wrapper">
    <!-- navbar -->
    <div th:insert="include/navbar::user-navbar"></div>

    <div class="content-wrapper">
        <!-- Main content -->
        <div class="content">
            <div class="container">
                <div class="card card-primary">
                    <div class="card-body" id="container">
                        <div class="row">

                            <div class="col-md-2" id="col-1" th:insert="include/sidebar::user-sidebar"
                                 th:with="active='订购记录'"></div>

                            <div class="col-md-10" id="col-2">
                                <div class="card card-primary">
                                    <div class="card-body">
                                        <h4>订购记录</h4>
                                        <div class="table-theme">
                                            <table id="tableGrid"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>

    <div th:replace="include/footer::footer"></div>
</div>

<div th:replace="include/modal::payModal"></div>

<!-- REQUIRED SCRIPTS -->
<script th:src="@{/js/my/orderInfo.js}"></script>
</body>
</html>
