<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head th:include="include/head::head" th:with="title='会员信息'"></head>

<body class="layout-top-nav" id="page-5">
<div class="wrapper">
    <!-- navbar -->
    <div th:insert="include/navbar::user-navbar"></div>

    <div class="content-wrapper">
        <!-- Main content -->
        <div class="content">
            <div class="container">
                <div class="card card-primary">
                    <div class="card-body p-0">
                        <div class="row">

                            <div class="col-md-2 idata-sidebar" id="col-1" th:insert="include/sidebar::user-sidebar"
                                 th:with="active='会员信息'"></div>

                            <div class="col-md-10" id="col-2">
                                <div class="card card-primary">
                                    <div class="card-body">
                                        <h4>会员信息</h4>
                                        <div class="title">当前会员状态</div>
                                        <div class="d-inline-block" id="package-status">
                                            已开通<span class="text-theme">“白银会员”</span>，到期时间：2020-03-17 23:22:22
                                        </div>
                                        <div class="d-inline-block" id="two-btn">
                                            <button class="btn btn-xs btn-green">续费白银会员</button>
                                            <button class="btn btn-xs btn-green">升级会员</button>
                                        </div>

                                        <div class="title">会员特权对比</div>
                                        <div th:replace="include/privilege::privilege"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>


    <div th:replace="include/footer::footer"></div>
</div>


<!-- REQUIRED SCRIPTS -->
<script>

</script>
</body>
</html>
