<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head th:insert="include/head::head" th:with="title='综管指标说明'"></head>
<head th:include="include/head::summernote" ></head>



<body class="hold-transition sidebar-mini text-sm" style="color: #666">
<div class="wrapper">

    <!-- navbar -->
    <div th:replace="include/navbar::navbar"></div>
    <!-- sidebar -->
    <div th:replace="include/sidebar::sidebar"></div>


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0"><i class="fas fa-th text-olive"></i> 综管指标说明</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">首页</a></li>
                            <li class="breadcrumb-item active">综管指标说明</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">

                        <div class="card card-outline card-primary">
                            <div class="card-header">
                                <form id="queryForm">
                                    <div class="row">

                                        <div class="col-sm-3">
                                            <div class="input-group">
                                                <input placeholder="一级标题" class="form-control" name="title1"/>
                                            </div>
                                        </div>

                                        <div class="col-sm-3">
                                            <div class="input-group">
                                                <input placeholder="一级标题" class="form-control" name="titel2"/>
                                            </div>
                                        </div>

                                        <div class="col-sm-2">
                                            <button type="button" class="btn btn-primary" onclick="doQuery()" >
                                                <i class="fa fa-search" aria-hidden="true"></i> 查&nbsp;询
                                            </button>
                                        </div>

                                    </div>
                                </form>
                            </div>

                            <div class="card-body">
                                <div class="btn-group" role="group" id="toolbar">
                                    <button type="button" class="btn btn-primary" onclick="doAdd()"><i
                                            class="fa fa-plus"></i>&nbsp;新&nbsp;增
                                    </button>
                                </div>
                                <div class="table-responsive">

                                    <table id="tableGrid" class="table"></table>
                                </div>
                            </div>

                        </div>
                        <!-- /.card -->
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark"></aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<div class="modal fade" id="myModal" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">新增</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="saveForm" class="form-horizontal" role="form">
                    <input type="hidden" name="id"/>

                    <div class="form-group row">
                        <label class="col-sm-1 col-form-label text-right"> 一级标题 </label>

                        <div class="col-sm-11">
                            <input type="text" name="title1" class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-1 col-form-label text-right"> 二级标题名 </label>

                        <div class="col-sm-11">
                            <input type="text" name="title2" class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-1 col-form-label text-right"> 指标说明 </label>

                        <div class="col-sm-11">
                            <textarea name="description" id="textarea"  rows="20"
                                      style="width: 100%; height: 600px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;">

                            </textarea>
                        </div>
                    </div>


                    <div class="clearfix form-actions">
                        <div class="col-md-12 text-center">
                            <button class="btn btn-info" type="submit">
                                <i class="ace-icon fa fa-check bigger-110"></i>
                                保&nbsp;存
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<!--<div class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"-->
     <!--id="myModal2">-->
    <!--<div class="modal-dialog modal-lg" role="document">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span-->
                        <!--aria-hidden="true">&times;</span>-->
                <!--</button>-->
            <!--</div>-->
            <!--<div class="modal-body" style="overflow: auto">-->
                <!--<div class="form-group">-->
                    <!--<div class="col-sm-12">-->
                        <!--<div id="description_text" style="height: 350px"></div>-->
                    <!--</div>-->
                <!--</div>-->

            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div> &lt;!&ndash;modal&ndash;&gt;-->

<!-- REQUIRED SCRIPTS -->

<script th:src="@{/js/my/indicatorDesc.js}"></script>


</body>
</html>
