<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head th:insert="include/head::head" th:with="title='指标来源说明'"></head>

<head>
    <style>
        #title {
            font-size: 20px;
        }

        #title i {
            color: #003eff;
        }
    </style>
</head>
<body class="layout-top-nav text-sm" style="color: #666;padding-top: 30px;background:#f4f6f9">
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title" id="title">
                        <i class="fas fa-bullhorn"></i>
                        <span>
                                        <span th:text="${data.title1}"></span>
                                        <small th:text="' >> '+${data.title2}"></small>
                                    </span>
                    </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body" th:utext="${data.description}" id="description">

                </div>
                <!-- /.card-body -->
            </div>

        </div>
    </div>
    <!-- /.row -->
</div>

<!-- REQUIRED SCRIPTS -->
<script>
    $('#description>p:empty').remove();
    $('#description>p').wrap('<div class="callout callout-info"></div>');

</script>

</body>
</html>
