<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head th:insert="include/head::head" th:with="title='慢病查询'"></head>

<head>
    <style>
        #queryForm .input-group{
            margin-bottom: 5px;
        }
    </style>
</head>

<body class="hold-transition sidebar-mini text-sm" style="color: #666">
<div class="wrapper">

    <!-- navbar -->
    <div th:replace="include/navbar::navbar"></div>
    <!-- sidebar -->
    <div th:replace="include/sidebar::sidebar"></div>


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0"><i class="fas fa-th text-olive"></i> 慢病查询</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">首页</a></li>
                            <li class="breadcrumb-item active">慢病查询</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">

                        <div class="card card-outline card-primary">
                            <div class="card-header">
                                <form id="queryForm">
                                    <div class="row">

                                        <div class="col-sm-3">
                                            <div class="input-group">
                                                <input placeholder="姓名" class="form-control" name="name"/>
                                            </div>
                                        </div>

                                        <div class="col-sm-3">
                                            <div class="input-group">
                                                <select class="form-control" name="gender">
                                                    <option value="">性别</option>
                                                    <option value="1">男</option>
                                                    <option value="2">女</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-sm-3">
                                            <div class="input-group">
                                                <input placeholder="地址" class="form-control" name="address"/>
                                            </div>
                                        </div>

                                        <div class="col-sm-3">
                                            <div class="input-group">
                                                <select class="form-control" name="cardStatus">
                                                    <option value="">报卡状态</option>
                                                    <option value="1">有效</option>
                                                    <option value="2">无效</option>
                                                </select>
                                            </div>
                                        </div>


                                        <div class="col-sm-3">
                                            <div class="input-group">
                                                <input placeholder="管理机构" class="form-control" name="institutionName"/>
                                            </div>
                                        </div>

                                        <div class="col-sm-3">
                                            <div class="input-group">
                                                <input placeholder="发病日期" class="form-control" name="onDate" id="onDate"/>
                                            </div>
                                        </div>

                                        <div class="col-sm-3">
                                            <div class="input-group">
                                                <input placeholder="报卡日期" class="form-control" name="cardDate" id="cardDate"/>
                                            </div>
                                        </div>

                                        <div class="col-sm-3">
                                            <button type="button" class="btn btn-primary btn-search"  onclick="doQuery()" >
                                                <i class="fa fa-search" aria-hidden="true"></i> 查&nbsp;询
                                            </button>
                                        </div>

                                    </div>
                                </form>
                            </div>

                            <div class="card-body">

                            </div>

                        </div>
                        <!-- /.card -->
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark"></aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<script th:src="@{/plugins/laydate/laydate.js}"></script>
<script th:src="@{/js/my/ncd.js}"></script>

</body>
</html>
