<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head th:insert="include/head::head" th:with="title='医疗机构树'"></head>
<head th:include="include/head::zTree"></head>

<body class="hold-transition sidebar-mini text-sm" style="color: #666">
<div class="wrapper">

    <!-- navbar -->
    <div th:replace="include/navbar::navbar"></div>
    <!-- sidebar -->
    <div th:replace="include/sidebar::sidebar"></div>


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0"><i class="fa fa-tree text-olive"></i> 医疗机构树</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">首页</a></li>
                            <li class="breadcrumb-item active">医疗机构树</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">

                        <div class="card card-outline card-primary">
                            <!--<div class="card-header">-->

                            <!--</div>-->

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <ul id="orgTree" class="ztree"></ul>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-8">
                                        <div class="table-responsive">
                                            <form id="queryForm">
                                                <div class="row">

                                                    <div class="col-sm-3">
                                                        <div class="input-group">
                                                            <input placeholder="机构名称" class="form-control" name="orgName"/>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-3">
                                                        <button type="button" class="btn btn-primary" onclick="doQuery()" >
                                                            <i class="fa fa-search" aria-hidden="true"></i> 查&nbsp;询
                                                        </button>
                                                    </div>

                                                </div>
                                            </form>


                                            <table id="tableGrid" class="table"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /.card -->
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark"></aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->
<script th:src="@{/js/my/orgTree.js}"></script>

</body>
</html>
