.card-body{
    padding: 1.8rem 1.5rem;
}
.main-header *{
    color:#666
}
.content-wrapper{
    padding-top:80px
}
.two-btn button{
    float: left;
}
.two-btn button:nth-child(2){
    margin-left: 10px;
}
#portal-row-2 .col-md-4 ul{
    padding-left: 40px;
}
#portal-row-2 .col-md-4:nth-child(odd) ul{
    padding-left: 55px;
}
.col-md-6 img{
    width:90%;
}
.col-md-4 img{
    display: block;
    margin: 0 auto;
    width:50px;
    height:50px;
}
.col-md-4:nth-child(2) img{
    display: block;
    margin: 0 auto;
    width:98px;
    height:50px;
}

ul li{
    margin:10px 0;
    list-style: none;
}

#portal-row-2 h4{
    margin:10px 0 20px 0;
    color: rgba(255, 153, 0, 0.847) !important;
}
h3{
    padding:0 0 20px 0;
    font-size: 32px;
}
p{
    font-size: 1rem;
    color: rgba(0,0,0,.85);
}

.row.separator{
    margin-top:30px ;
    padding-top:30px;
    border-top:1px solid #ccc;
}
#portal-row-3 p{
    line-height: 28px;
}
#portal-row-3 h4{
    margin: 30px 0 20px 0;
    font-size: 28px;
    color:rgba(0,0,0,.85)
}
#portal-row-3 .row:nth-child(odd) .col-md-6:nth-child(1){
    padding-left: 4%;
}
#portal-row-3 .row:nth-child(even) .col-md-6:nth-child(2){
    padding-left: 4%;
}
span.support-pf{
    color:rgba(255,0,0,0.65);
}

#portal-row-2 h3::after,
#portal-row-3 h3::after{
    content: '';
    display: block;
    height: 4px;
    width: 90px;
    background: #6dbf77;
    margin: 10px auto;
    border-radius: 4px;
}
/*********************************************套餐页面****************************************************/
#package-box .card-body{
    padding: 1rem;
}
#vip-member-box{
    background: #fbde9a;
    padding: 0!important;
}
#vip-member-box .col-md-8,
#vip-member-box .col-md-2{
    padding-top: 1rem ;
    padding-bottom: 1rem ;
}
.vip-icon-bg{
    width: 60px;
    height: 60px;
    margin: 0 auto;
    background: url('../images/u3065.png') 1px 2px no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.vip-icon-bg img{
    width: 31px;
}
.vip-text{
    font-size: 20px;
    margin:10px 0 20px 0;
}
.vip-text-other{
    display: block;
    text-align: center;
    margin: 5px 0;
    color: red;
    font-weight: bold;
    font-size: 14px;
}
.huangjin-box,.zhuanshi-box{
    border-left: 10px solid #f2f2f2;
}
.package-desc-box{
    padding-right: 15px;
    padding-left: 0;
}
.package-desc-box>div{
    background: #fdefd0 url("../images/u3024.png") 0 0 no-repeat;
    background-size: 50px;
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
    padding: 10px 0 10px;
}
.vip-price{
    font-size: 12px;
    margin:10px 0 10px ;
}
.vip-price span{
    display: inline-block;
    font-size: 28px;
    font-weight: bold;
    margin:0 5px;
}
.vip-ori-price{
    font-size: 12px;
    color: rgba(0,0,0,.45);
}
.vip-ori-price span{
    text-decoration: line-through;
}
.vip-buy{
    border: 1px solid #e98387;
    font-size: 16px;
    color: #F14764;
    padding: 3px 15px;
    margin: 8px 0;
    cursor: pointer;
}
.vip-discount{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.65);
}
.privilege-title{
    font-size: 16px;
    color: #333;
    font-weight: bold;
    padding-left: 10px;
    border-left: 5px solid #6dbf77;
}
.privilege-table{
    padding: 20px 0;
}
.privilege-table th,
.privilege-table td{
    border: 1px solid #ccc;
    text-align: center;
    padding: 10px 10px;
    font-size: 13px;
}
.privilege-table th{
    color: #fff;
    background: #6dbf77;
}
.privilege-table td{
    vertical-align: middle;
}
.privilege-expect-text{
    color: #F14764;
    margin: 10px;
}
.privilege-support-text{
    color: #6dbf77;
}
@media (min-width: 800px){
    #payModal .modal-dialog{
        max-width: 600px;
    }
}
#payModal .modal-header{
    padding:1rem 1rem;
}
#payModal .modal-header h4{
    font-size: 14px;
    color: #6dbf77!important;
}
#payModal .modal-body{
    padding: 0 2rem;
}
#payModal table td{
    border: 0;
}
#payModal table td:nth-child(1){
    padding-left: 0;
    padding-right: 0;
    width: 70px;
}
#payModal table td:nth-child(3){
    padding-left: 0;
    padding-right: 0;
    width: 130px;
}
#payModal .pay-icon{
    padding-top: 0;
    padding-bottom: 0;
}
#payModal .pay-icon .btn{
    width: 140px;
    height: 50px;
    padding: 0;
}
#payModal .alipay-icon{
    background: url("../images/u3199.png") -5px center no-repeat;
    background-size: 100%;
}
#payModal .wechat-cion{
    background: url("../images/u3200.png") center center no-repeat;
    background-size: 75%;
}
#payModal .modal-footer .btn{
    margin-left: 10px;
}


