/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/*
主题绿色 #63c595
表格文字灰色 rgba(0,0,0,.65)
表格边框灰色 #dee2e6
更淡的灰色   #ebebeb
文字默认颜色(偏黑色) #595959 rgba(0,0,0,.85)
第二主题文字颜色（绿色）#63c595 #6dbf77
*/
.modal {
    -webkit-animation-duration: 200ms;
    animation-duration: 200ms;
}
:focus{
    outline: none;
}

body {
    font-size: 16px;
    color: #595959;
    background: #f5f6f9;
    padding-top: 55px;
    font-family: Source Han Sans CN, -apple-system-font, Helvetica Neue, sans-serif
}

.main-header.navbar {
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    padding: 10px 1rem;
    height: 45px;
}

ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, h7 {
    color: #595959 !important;
}

.btn {
    cursor: pointer;
    font-size: 0.875rem;
}

img {
    width: 100%;
    height: auto;
}

a.btn.close {
    font-size: 1.5rem !important;
}

.card {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.card-header {
    padding-left: 5px;
    height: 44px;
}

.card-title {
    padding: 0 5px 10px 5px;
    border-bottom: 2px solid red;
}

.card-body {
    padding: 1rem 1.25rem;
}

.btn-green-outline {
    color: #63c595 !important;
    border: 1px solid #63c595 !important;
}

.btn-green {
    background: #63c595 !important;
    color: #fff !important;
}

.text-theme {
    color: #63c595 !important;
}

.bg-theme {
    background-color: #63c595 !important;
    color: #fff;
}

.table-theme .page-link {
    color: #595959;
    border-color: #ccc;
}

.table-theme .page-item.active .page-link {
    background-color: #63c595;
    color: #fff;
    border-color: transparent;
}

.table-theme .dropdown-item.active {
    background-color: #63c595;
}

.table-theme .dropdown-menu {
    font-size: inherit !important;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

/*bootstrap-table loading文字样式*/
.bootstrap-table .fixed-table-container .fixed-table-body .fixed-table-loading .loading-wrap .loading-text {
    font-size: inherit !important;
}

img.can-show {
    cursor: zoom-in;
}

.custom-control-label {
    cursor: pointer;
}

.container{
    padding-right: 0;
    padding-left: 0;
}

/*******************************************index.html--数据首页**********************************************/
.table.table-sm td {
    padding: .5rem 5px;
}

#page-1 #row-1 .card-body {
    min-height: 270px;
}

#page-1 #row-2 .card-body {
    height: 260px;
}

.gl-s-title {
    color: rgba(0, 0, 0, .5);
    font-size: 0.875rem;
}

.gl-count {
    font-size: 24px;
    color: rgba(0, 0, 0, .8);
}

.m-15 {
    margin-bottom: 15px;
}

span.gl-s-text {
    display: inline-block;
    color: rgba(0, 0, 0, .5);
    font-size: 0.875rem;
    margin-left: 5px;
}

span.gl-rate {
    color: rgba(0, 0, 0, .6);
    margin-left: 3px;
}

#page-1 #gl-4 > div {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px 10px 10px 20px;
}

#page-1 #row-2-r > div {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px 0 20px 20px;
    font-size: 0.875rem;
}

.xs-text {
    color: rgb(51, 51, 51);
    font-size: 18px;
    margin: 0 0 5px 0;
}

.xs-author {
    color: rgba(0, 0, 0, .8);
    font-size: 0.875rem;
    margin: 8px 0 5px 0;
}

.xs-status {
    color: rgb(0, 153, 255);
    font-size: 0.875rem;
}

.xs-pf {
    color: #e05567;
    font-size: 28px;
    font-weight: bold;
}

.xs-pm-str {
    font-size: 1rem;
}

.xs-pm {
    font-size: 20px;
    color: rgba(0, 0, 0, .8);
    margin: 2px 0
}

#page-1 #row-1-r-b {
    margin-top: 25px;
    font-size: 0.875rem;
}

.xs-update-count {
    color: rgba(0, 0, 0, 0.8);
    font-size: 18px;
    margin: 5px 0;
}

#page-1 #reader-hobby-pm .progress {
    margin-top: 4px;
    height: 10px;
}

#page-1 #reader-hobby-pm * {
    font-size: 13px;
}

#page-1 #row-3 {
    font-size: 0.875rem;
}

/*****************************************pages/portal/index.html--网站首页************************/
#page-2{
    padding-top: 45px;
}
#page-2 .main-header{
    border-bottom: 0;
}
#page-2 .card-body {
    padding: 1.8rem 1.5rem;
}
#page-2  #row-1{
    margin: 0 -.5rem;
}
#page-2 #row-1{
    height: 530px;
    background: url("../images/jieshao_bg.png") no-repeat 100% 0;
    background-size: cover;
    border-radius: 0;
    padding-top: 100px;
    margin-bottom: 10px;
}
#page-2 #row-1 h3,
#page-2 #row-1 p{
    color: #fff!important;
}

.two-btn button:nth-child(2) {
    margin-left: 10px;
}

#page-2 #row-2 .col-md-4 ul {
    margin:0 auto;
}
#page-2 #row-2 .col-md-4:nth-child(1) ul {
    width: 240px;
}
#page-2 #row-2 .col-md-4:nth-child(2) ul {
    width: 300px;
}
#page-2 #row-2 .col-md-4:nth-child(3) ul {
    width: 260px;
}

#page-2 .col-md-6 img {
    width: 380px;
}

#page-2 .col-md-4 img {
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
}

#page-2 .col-md-4:nth-child(2) img {
    display: block;
    margin: 0 auto;
    width: 98px;
    height: 50px;
}

#page-2 #row-2 ul li {
    margin: 10px 0;
    font-size: .875rem;
}

#page-2 #row-2 h4 {
    margin: 10px 0 15px 0;
    color: #FA8C16 !important;
}

#page-2 h3 {
    padding: 0 0 20px 0;
    font-size: 32px;
}

#page-2 p {
    font-size: 1rem;
    color: #595959;
}

#page-2 .row.separator {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #ccc;
}

#page-2 #row-3 p {
    line-height: 28px;
}

#page-2 #row-3 h4 {
    margin: 30px 0 20px 0;
    font-size: 28px;
    color: #595959
}
#page-2 #row-3 .row .col-md-6{
    justify-content: start!important;
    padding-left: 65px;
}

/*#page-2 #row-3 .row:nth-child(odd) .col-md-6,*/
/*#page-2 #row-3 .row:nth-child(even) .col-md-6 {*/
/*    padding-right: 6%;*/
/*}*/

span.support-pt {
    color: rgba(255, 0, 0, 0.65);
}

#page-2 #row-2 h3::after,
#page-2 #row-3 h3::after {
    content: '';
    display: block;
    height: 4px;
    width: 90px;
    background: #63c595;
    margin: 10px auto;
    border-radius: 4px;
}
@media (max-width:768px) {
    #page-2 .col-md-6 img {
        width: 100%;
    }
    #page-2 #row-3 .row .col-md-6{
        padding-left: 7.5px;
    }
}
/*********************************************pages/portal/package--套餐页面****************************************************/
#page-3 .card-body {
    padding: 1rem;
}

#vip-member-box {
    background: #fbde9a;
    padding: 0 !important;
}

#vip-member-box .col-md-8,
#vip-member-box .col-md-2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.vip-icon-bg {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    background: url('../images/u3065.png') 1px 2px no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.vip-icon-bg img {
    width: 31px;
}

.vip-text {
    font-size: 20px;
    margin: 10px 0 20px 0;
}

.vip-text-other {
    display: block;
    text-align: center;
    margin: 5px 0;
    color: red;
    font-weight: bold;
    font-size: 0.875rem;
}

#vip-member-box .col-md-2 {
    border-left: 10px solid #f2f2f2;
}

.package-desc-box {
    padding-right: 15px;
    padding-left: 0;
}

.package-desc-box > div {
    background: #fdefd0 url("../images/u3024.png") 0 0 no-repeat;
    background-size: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px 0 10px;
}

.vip-price {
    font-size: 12px;
    margin: 10px 0 10px;
}

.vip-price em {
    display: inline-block;
    font-size: 28px;
    font-weight: bold;
    margin: 0 5px;
    font-style: normal;
}

.vip-ori-price {
    font-size: 12px;
    color: rgba(0, 0, 0, .45);
}

.vip-ori-price span {
    text-decoration: line-through;
}

.vip-buy {
    border: 1px solid #e98387;
    font-size: 16px;
    color: #F14764;
    padding: 3px 15px;
    margin: 8px 0;
    cursor: pointer;
}

.vip-discount {
    font-size: 0.875rem;
    color: rgba(0, 0, 0, 0.65);
}

.privilege-title {
    font-size: 16px;
    color: #333;
    font-weight: bold;
    padding-left: 10px;
    border-left: 5px solid #63c595;
    margin-bottom: 20px;
}

.privilege-table th,
.privilege-table td {
    border: 1px solid #ccc;
    text-align: center;
    padding: 10px 10px;
    font-size: 13px;
}

.privilege-table th {
    color: #fff;
    background: #63c595;
}

.privilege-table td {
    vertical-align: middle;
}

.privilege-expect-text {
    color: #FF3400;
    margin: 10px;
}

/*********************************pages/user/index--个人中心*********************************************/

.user-center #col-1 .card-body {
    padding: 0;
}

.user-center .user-left-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1rem;
    border-bottom: 1px solid #ebebeb;
    padding: 20px 0;
    font-weight: bold;
}

.user-center .user-left-top img {
    width: 50px;
    margin-bottom: 20px;
}

.user-center #col-1 ul {
    padding-top: 20px;
}

.user-center #col-1 ul li {
    font-size: 0.875rem;
    display: block;
    text-align: center;
    cursor: pointer;
    border-left: 5px solid transparent;
}

.user-center #col-1 ul li a {
    color: inherit;
    display: block;
    height: 100%;
    padding: 10px 0;
}

.user-center #col-1 ul li.active {
    color: #63c595;
    background-color: #cbf6df;
    border-color: #63c595;
}

.user-center #col-1 {
    padding-right: 0;
}

.user-center #col-2 {
    padding-left: 0;
    border-left: 10px solid #f5f6f9;
}

.user-center h4 {
    margin-bottom: 30px;
}

#page-4 #col2-left form {
    width: 80%;
    padding-bottom: 1px;
}

#page-4 #col2-left form label,
#page-4 #col2-left form input {
    font-weight: normal;
    font-size: 0.875rem;
}

#page-4 #col2-left form .form-group {
    /*margin: 25px 0;*/
}

#page-4 #col2-left form .btn-green-outline {
    border: 0 !important;
    text-align: left;
    margin-top: 2px;
}

#page-4 #col2-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 80px;
}

#page-4 #col2-right img {
    width: 140px;
    height: 140px;
    margin-bottom: 20px;
    border-radius: 50%;
}

#page-4 #xs-list li {
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 30px;
}

#page-4 #xs-list li img {
    width: 80px;
    height: 106px;
    margin-bottom: 10px;
}

#page-4 #xs-list li .xs-name {
    font-size: 0.875rem;
}

#page-4 #col2-left h6 {
    margin: 20px 0;
}
#page-4 #saveBtn{
    width: 100px;
    margin: 20px 0;
    border-radius: 20px;
    border: none;
}


/*********************************pages/user/info.html--会员信息*********************************************/
#page-5 #col-2 {
    font-size: .875rem;
}

#page-5 .title {
    padding-left: 10px;
    border-left: 5px solid #63c595;
    margin: 20px 0;
}

#page-5 #package-status {
    margin-right: 1rem;
}

#page-5 #two-btn .btn {
    margin-right: 10px;
    padding: 5px 13px;
    border-radius: 5px;
}

#page-5 .privilege-table th,
#page-5 .privilege-table td {
    padding: 10px 5px;
}

/*********************************pages/user/orderInfo.html--订单记录*********************************************/
#page-6 #col-2 {
    font-size: 14px;
}

#page-6 h4 {
    margin-bottom: 25px;
}

#page-6 #container {
    padding: 0;
}

#page-6 table#tableGrid thead tr:nth-child(1) {
    background: #fafafa;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
}

#page-6 table#tableGrid th {
    border-bottom: 1px solid #dee2e6;
}

#page-6 table#tableGrid td {
    padding: 1rem .75rem;
    color: rgba(0, 0, 0, .647);
    border-top: 0;
    border-bottom: 1px solid #dee2e6;
}

/*********************************modal--其他*********************************************/
@media (min-width: 800px) {
    #payModal .modal-dialog {
        max-width: 600px;
    }
}

#payModal .modal-header {
    padding: 1rem 1rem;
}

#payModal .modal-header h4 {
    font-size: 0.875rem;
    margin: 0;
    padding: 0;
}

#payModal .modal-body {
    padding: 0 2rem;
}

#payModal table td {
    border: 0;
    font-size: 0.875rem;
}

#payModal table td:nth-child(1) {
    padding-left: 0;
    padding-right: 0;
    width: 70px;
}

#payModal table td:nth-child(3) {
    padding-left: 0;
    padding-right: 0;
    width: 130px;
}

#payModal .pay-icon {
    padding-top: 0;
    padding-bottom: 0;
}

#payModal .pay-icon .btn {
    width: 140px;
    height: 50px;
    padding: 0;
}

#payModal .alipay-icon {
    background: url("../images/u3199.png") -5px center no-repeat;
    background-size: 100%;
}

#payModal .wechat-cion {
    background: url("../images/u3200.png") center center no-repeat;
    background-size: 75%;
}

#payModal .modal-footer .btn {
    margin-left: 10px;
}

/****************************** modal--登录 *******************************************/
@media (min-width: 576px) {
    #loginModal .modal-dialog {
        max-width: 450px;
    }
}

#loginModal .modal-header {
    border: 0;
    padding-bottom: 0;
    padding-top: 10px;
}

#loginModal .modal-body {
    padding: 0 2rem 2rem;
}

#loginModal h3 {
    margin-bottom: 30px;
    color: #999 !important;
}

#loginModal h3 img {
    width: 120px;
    display: inline-block;
    margin-top: -5px;
}

#loginModal h3 span {
    display: inline-block;
    margin-left: 1rem;;
    padding-left: 1rem;
    border-left: 4px solid #999;
}

#loginModal .form-group {
    margin-bottom: 20px;
}
#loginForm .form-group input{
    height: 40px;
}
#loginForm .login-code-box input {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#loginForm .login-code-box .btn {
    margin-left: 10px;
}

#loginForm .login-code-box + .form-group {
    font-size: .875rem;
}

#loginForm .btn-block.btn-green {
    font-size: 1rem;
    padding: .5rem;
}

#loginForm .custom-control-input:checked ~ .custom-control-label::before {
    border-color: #63c595;
    background-color: #63c595;
}

.login-container{
    border: 1px solid #dee2e6;
    padding: 0 2rem;
    width: 400px;
    border-radius: 4px;
}
.login-container .card-header{
    padding-left: 0;
}
.login-container .card-header .card-title{
    border-color:  #63c595;
}
.login-container .card-body{
    padding: 3rem 0;
}
.phone{
    position: relative;
}
.phone input{
    padding-left: 50px;
}
.phone::before{
    content: '+86';
    position: absolute;
    left: 12px;
    top:8px;
}
/*********************************phoneModal--手机号码验证*********************************************/
#phoneModal .modal-header{
    padding-left: 2rem;
}
#phoneModal .modal-body{
    padding: 1rem 2rem 2rem;
}
#phoneModal .modal-body p{
    color: #969696;
}
#phoneModal .modal-body h5{
    margin: 1.5rem 0;
}
#phoneModal .modal-body .form-group{
    position: relative;
}

#phoneModal .modal-body .form-control{
    height: 50px;
    padding-left: 45px;
}
#phoneModal .modal-body .btn{
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    border-radius: 20px;
    margin: 1rem 0  0;
}
#phoneModal .modal-body .btn-in-resend{
    position: absolute;
    top: 7px;
    right: 7px;
    width: 100px;
    height: 36px;
    font-size: 13px;
    text-align: center;
    color: #fff;
    border-radius: 20px;
    line-height: 36px;
    cursor: pointer;
}
#phoneModal .form-group i{
    position: absolute;
    top: 11px;
    left: 12px;
    font-size: 18px;
    color: #969696;
}
#phoneModal .phone::before {
    left: 10px;
    top: 13px;
}
#phoneModal .modal-content>div{
    display: none;
}
#phoneModal.step-1 .modal-content>div.step-1{
    display: block;
}
#phoneModal.step-2 .modal-content>div.step-2{
    display: block;
}
/*********************************login--登录*********************************************/
#login-page .fix-height{
}

/*********************************导航条--公用*********************************************/
.navbar-light .navbar-nav .nav-link {
    color: #595959;
}

.navbar-expand .nav-link.nav-link-logo {
    padding: 3px 0 0;
}
#page-1 .navbar-expand .nav-link.nav-link-logo {
    padding-right: .8rem;
    padding-left: .8rem;
}

.nav-link-logo img {
    vertical-align: top;
    width: 94px;
}

.navbar-nav .nav-item a {
    padding-top: 9px;
    padding-bottom: 10px;
    position: relative;
}

.navbar-nav .nav-item.active a,
.navbar-nav .nav-item:hover a {
    color: #63c595 !important;
}

.navbar-nav .nav-item.active a::before {
    left: .8rem;
    right: .8rem;
}

.navbar-nav .nav-item:not(.active):hover a::before {
    left: .8rem;
    right: .8rem;
}

.navbar-nav .nav-item a::before {
    content: '';
    position: absolute;
    left: 50%;
    right: 50%;
    top: 0;
    background: #63c595;
    height: 4px;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.nav.nav-pills .btn {
    padding: 6px 10px;
    height: auto;
    font-size: 12px;
}

.nav-pills .show > .nav-link {
    color: #fff !important;
    background: none;
}

.nav-pills .show > .nav-link.btn-green-outline {
    background-color: #63c595;
}
.w85{
    width: 85px;
}

.user-dropdown-menu{
    border: none;
    width: 250px;
    left: -95px;
    top:calc(100% - 2px)
}
/*********************************other--其他*********************************************/
.fa, .far, .fas {
    font-family: "Font Awesome 5 Free", serif !important;
}

.ztree .node_name {
    font-family: -apple-system-font, Helvetica Neue, sans-serif !important;
}

/*********************************footer--底部*********************************************/
footer.main-footer {
    background: #272f3f;
    color: rgb(153, 153, 153);
}

/*********************************icons--图标*********************************************/
.m-icon {
    padding-left: 18px;
}

.icon-fans {
    background: url('../images/icons/heart.png') left center no-repeat;
    background-size: 15px;
}

.icon-up {
    background: url('../images/icons/up.png') left center no-repeat;
    background-size: 15px;
}

.icon-yp {
    background: url('../images/icons/yuepiao.png') left center no-repeat;
    background-size: 15px;
}

.icon-ds {
    background: url('../images/icons/dashang.png') left center no-repeat;
    background-size: 15px;
}

.icon-tjp {
    background: url('../images/icons/tuijianpiao.png') left center no-repeat;
    background-size: 15px;
}

.icon-pl {
    background: url('../images/icons/pinglun.png') left center no-repeat;
    background-size: 15px;
}
/*sweetalert2*/
.swal2-success-circular-line-left,.swal2-success-circular-line-right,.swal2-success-fix{
    background-color: transparent!important;
}
