<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head th:include="include/head::head" th:with="title='登录'"></head>

<body class="layout-top-nav layout-footer-fixed modal-open" id="login-page" style="background: #fff!important;">
<div class="wrapper">
    <div th:insert="include/navbar::portal-navbar "></div>

    <div class="content-wrapper" style="background: #fff!important;">
        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-7 d-none d-sm-block">
                        <div class="d-flex justify-content-center align-items-center fix-height">
                            <img th:src="@{/images/login_bg.png}" style="width: 500px">
                        </div>
                    </div>
                    <div class="col-md-5 d-flex justify-content-between align-items-center fix-height">
                        <div class="login-container">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">短信登录</h4>
                                </div>
                                <div class="card-body">
                                    <div class="">
                                        <form onsubmit="return false;" id="loginForm">
                                            <input name="forwardUrl" type="hidden" th:value="${session.forwardUrl}">
                                            <div class="form-group phone-box">
                                                <input class="form-control " placeholder="请输入手机号码" name="phone" value="13111111111"/>
                                            </div>
                                            <div class="form-group code-box">
                                                <input type="text" name="smsCode" class="form-control" placeholder="请输入验证码" value="1234"/>
                                                <i class="iconfont icon-yanzhengma"></i>
                                                <span class="btn-in-resend btn-green get_code">发送验证码</span>
                                            </div>
                                            <div class="form-group d-flex justify-content-between">
                                                <div class="custom-control custom-checkbox">
                                                    <input class="custom-control-input" type="checkbox"
                                                           id="customCheckbox1" checked name="remember-me" value="true"/>
                                                    <label for="customCheckbox1" class="custom-control-label">自动登录</label>
                                                </div>
                                            </div>

                                            <button class="btn btn-block btn-green" onclick="$.bussiness.doLogin()">登 录 </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="include/footer::footer"></div>
</div>
</body>

<script>
    $(function () {
        $('#loginModal').remove();
        $('.fix-height').height($(window).height()-130);
    })
</script>
</html>
