<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head th:include="include/head::head" th:with="title='流派趋势'"></head>
<head th:include="include/head::bootstrap-table"></head>
<head th:include="include/head::laydate"></head>
<head th:include="include/head::echarts"></head>

<body class="layout-top-nav" id="page-sect-tendency">
<div class="wrapper">
    <!-- navbar -->
    <div th:insert="include/navbar::data-navbar" th:with="active='流派分析'"></div>

    <div class="content-wrapper">
        <!-- Main content -->
        <div class="content">
            <div class="container">
                <div class="row">

                    <div class="col-md-2 idata-sidebar" id="col-1" th:insert="include/sidebar::analysis-sidebar"
                         th:with="active='流派趋势',title='流派分析'"></div>

                    <div class="col-md-10" id="col-2">

                        <div class="card card-primary" id="right-row-1">
                            <div class="card-body">
                                <div class="clearfix">
                                    <div class="float-left font-weight-bold">行业趋势</div>
                                    <div class="float-right date-picker-box">
                                        <label class="active"><input type="radio" name="date-picker"/>日</label>
                                        <label><input type="radio" name="date-picker"/>周</label>
                                        <label><input type="radio" name="date-picker"/>月</label>
                                        <div class="date-picker-input-box">
                                            <input type="text" value="2019-10-07 ~ 2019-10-07" id="date-picker"/>
                                            <i class="fa fa-calendar date-picker-icon" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="describe">分析不同流派小说趋势确认小说卖点</div>
                            </div>
                        </div>

                        <div class="card card-primary" id="right-row-2">
                            <div class="card-body">
                                <ul class="category-box">
                                    <li>
                                        <div>频道：</div>
                                        <ul>
                                            <li class="active"><label><input type="radio" name="pindao" checked
                                                                             value="0"/>全部</label></li>
                                            <li><label><input type="radio" name="pindao" value="1"/>男频</label></li>
                                            <li><label><input type="radio" name="pindao" value="2"/>女频</label></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <div>分类：</div>
                                        <ul>
                                            <li class="active"><label><input type="radio" name="fenlei" checked
                                                                             value="0"/>全部</label></li>
                                            <li><label><input type="radio" name="fenlei" value="1"/>玄幻</label></li>
                                            <li><label><input type="radio" name="fenlei" value="2"/>奇幻</label></li>
                                            <li><label><input type="radio" name="fenlei" value="3"/>武侠</label></li>
                                            <li><label><input type="radio" name="fenlei" value="4"/>仙侠</label></li>
                                            <li><label><input type="radio" name="fenlei" value="5"/>都市</label></li>
                                            <li><label><input type="radio" name="fenlei" value="6"/>现实</label></li>
                                            <li><label><input type="radio" name="fenlei" value="7"/>历史</label></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <div>状态：</div>
                                        <ul>
                                            <li class="active"><label><input type="radio" name="zhuangtai" checked
                                                                             value="0"/>全部</label></li>
                                            <li><label><input type="radio" name="zhuangtai" value="1"/>连载</label></li>
                                            <li><label><input type="radio" name="zhuangtai" value="2"/>断更</label></li>
                                            <li><label><input type="radio" name="zhuangtai" value="3"/>完本</label></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="card card-primary" id="right-row-3">
                            <div class="card-body">
                                <div class="form-group analysis-search-box">
                                    <input placeholder="请输入想查询的流派" class="form-control"/>
                                    <button class="btn btn-green ">搜 索</button>
                                </div>
                                <div class="table-theme no-pagination">
                                    <table id="tableGrid"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>

    <div th:replace="include/footer::footer"></div>
</div>
<div th:replace="include/modal::tendencyModal" ></div>

<!-- REQUIRED SCRIPTS -->
<script th:src="@{/js/my/sect-tendency.js}"></script>
<script th:inline="javascript">
</script>
</body>
</html>
