<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head th:insert="include/head::head" th:with="title='产品套餐'"></head>

<body class="layout-top-nav" id="page-3">
<div class="wrapper">
    <!-- navbar -->
    <div th:insert="include/navbar::portal-navbar" th:with="active='产品套餐'"></div>


    <div class="content-wrapper">
        <!-- Main content -->
        <div class="content">
            <div class="container">
                <div class="card card-primary">
                    <div class="card-body" id="vip-member-box">
                        <div class="row">
                            <div class="col-md-8 baiyin-box">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="vip-icon-bg">
                                            <img th:src="@{/images/u3020.png}"/>
                                        </div>
                                        <div class="vip-text text-center">白银会员</div>
                                        <span class="vip-text-other text-center">仅支持“起点小说”</span>
                                    </div>
                                    <div class="col-md-3 package-desc-box">
                                        <div>
                                            <div class="vip-price">￥<span>49</span>月</div>
                                            <div class="vip-ori-price">原价：<span>￥99/月</span></div>
                                            <div class="vip-buy">立即购买 &gt;</div>
                                            <div class="vip-discount">限时优惠：50</div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 package-desc-box">
                                        <div>
                                            <div class="vip-price">￥<span>249</span>半年</div>
                                            <div class="vip-ori-price">原价：<span>￥594/半年</span></div>
                                            <div class="vip-buy">立即购买 &gt;</div>
                                            <div class="vip-discount">限时优惠：345</div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 package-desc-box">
                                        <div>
                                            <div class="vip-price">￥<span>449</span>年</div>
                                            <div class="vip-ori-price">原价：<span>￥1188/月</span></div>
                                            <div class="vip-buy">立即购买 &gt;</div>
                                            <div class="vip-discount">限时优惠：739</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 huangjin-box">
                                <div class="vip-icon-bg">
                                    <img th:src="@{/images/u3066.png}"/>
                                </div>
                                <div class="vip-text text-center">黄金会员</div>
                                <span class="vip-text-other text-center">即将携带</span>
                                <span class="vip-text-other text-center">全新功能前来</span>
                            </div>
                            <div class="col-md-2 zhuanshi-box">
                                <div class="vip-icon-bg">
                                    <img th:src="@{/images/u3070.png}"/>
                                </div>
                                <div class="vip-text text-center">钻石会员</div>
                                <span class="vip-text-other text-center">即将携带</span>
                                <span class="vip-text-other text-center">全新功能前来</span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card card-primary">
                    <div class="card-body">
                        <div class="privilege-title">会员特权对比</div>
                        <div th:replace="include/privilege::privilege"></div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>

    <div th:replace="include/footer::footer"></div>
</div>

<div th:replace="include/modal::payModal"></div>
<!-- REQUIRED SCRIPTS -->
<script>
    $(function () {
        $('.vip-buy').click(function () {
            $('#payModal').modalShow('zoomIn',{vertical:true});
        })
        $('#payModal').modalShow('zoomIn',{vertical:true});
    })
</script>
</body>
</html>
